:root {
	--base-accent-primary-500: #00aaff;
	--base-neutral-white: #ffffff;
	--base-accent-danger-900: #883232;
	--base-accent-danger-500: #f25a5a;
	--base-accent-success-200: #2eb82e14;
	--base-accent-success-500: #2eb82e;
	--base-accent-success-900: #186018;
	--base-accent-warning-200: #ffd54f26;
	--base-accent-warning-900: #6a5110;
	--base-accent-danger-200: #f25a5a14;
	--base-accent-danger-900: #883232;

	--base-neutral-gray-300: #e9e9ec;
	--base-neutral-gray-500: #6b7073;

	--colors-fill-secondary: #f8f8f9;
	--colors-text-primary: #263238;
	--colors-background-black: #00000066;
	--colors-text-secondary: #6b7073;
	--colors-fill-footer: #f2f4f6;
	--colors-stroke-primary: #d8dfe3;

	--neutral-grey-1: #373d47;
	--neutral-gray-920: #e9e9ec;

	--text-secondary: #959a9d;
}
