{
	"useTabs": true,
	"tabWidth": 1,
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"arrowParens": "avoid",
	"printWidth": 100,
	"htmlWhitespaceSensitivity": "ignore",
	"endOfLine": "auto"
}
