.close {
	width: 40px;
	height: 40px;
	border-radius: 8px;
	padding: 8px;
	border: 1px solid var(--colors-stroke-primary);
	background: var(--base-neutral-white);
	display: flex;
	align-items: center;
	justify-content: center;

	span {
		color: var(--colors-text-primary);
	}
}
